<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    {% for post in posts %}
        {{ post.name | title }} | {{ post.url }}
    {% endfor %}

    {{ 'Camel-Case' | camelize }}

    {% set list = 'String' %}
    {% for item in list | chars %}
        {{ item }}
    {% endfor %}

    {{ '    Collapse    White     Space' | collapseWhitespace }}

    {{ 'underscore this' | upperCaseFirst }}


</body>
</html>